<div class="cont-center-caballero">
    <div class="center-caballero">
        <div class="cont-center">
            <div class="cont-img"> 
                <img src="assets/img/pexels4.webp" alt="man" loading="lazy" width="400" height="600" >
            </div>
            <div class="cont-img"> 
                <img src="assets/img/pexels5.webp" alt="man" loading="lazy" width="400" height="600" >
            </div>
        </div>
        <div class="cont-low">
            <h3 (click)="rutaMen()">MODA MASCULINA  </h3>
    </div>
</div>