<div class="container-header-main"> 
    <div class="cont-main">
        
        <!-- Sección Izquierda: Home y College -->
        <div class="header-section header-left">
            <button class="header-btn font-14-400">Home</button>
            
            <div class="college-dropdown">
                <button class="header-btn font-14-400">College</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Damas</a>
                    <a class="dropdown-item" href="#">Caballeros</a>

                </div>
            </div>
        </div>

        <!-- Sección Centro: Logo -->
        <div class="header-section header-center font-14-400">
            <!-- Aquí va el logo -->
             <h2> CloseTUculto.VE </h2>
        </div>

        <!-- Sección Derecha: Contacto, Carrito, User -->
        <div class="header-section header-right">
            <button class="header-btn header-btn-contacto font-14-400" (click)="link1()">Conocer más </button>
            <button class="header-btn font-14-400" (click)="link1()">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button class="header-btn font-14-400">
                <mat-icon>person</mat-icon>
            </button>
        </div>

    </div>
</div>