.tabslist{
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: beige;
  gap: 2em;
}

.tabs button {
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}

.tabs button.active {
  border-color: #000;
}

.tabs-panel {
  margin-top: 0.5rem;
}
