.tabslist{
  display: flex;
  margin-top:2em ;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.tabslist button{
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  position: relative; /* necesario para el pseudo-elemento */
  color: #111;
  outline: none;
}
.tabslist button::after {
  /* línea que crecerá desde el centro */
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
  height: 2px;
  background: gray;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 240ms ease;
}

.tabslist button:hover::after,
.tabslist button.active::after {
  transform: scaleX(1);
}

