<div flex-col class="main" >
	<p ft-24-500 class="faq" >Preguntas Frecuentes</p>
	<div style="height: 2em; width: auto;"></div>

	<div flex class="div-main-2">
	
	<div flex class="cont-main" style="height: 100%; align-items: center;" >
		<p icon class="change-btt" (click)="previous()">arrow_left</p>
		<div [@fadeInOut] flex-col class="card-item">
			<p icon style="font-size: 48px;">{{selected.mark}}</p>
			<p style="width: auto; height: 4px;"></p>
			<p ft-18-500>{{selected.title}}</p>
			<p ft-14-400>{{selected.content}}</p>
		</div>
		<p icon class="change-btt" (click)="next()">arrow_right</p>
	</div>

	<div class="div-vid"> 
		<video muted autoplay preload="metadata" >
			<source src="./assets/video/video-mecanic.mp4" type="video/mp4">
			<source src="./assets/video/video-mecanic.webm" type="video/webm">
			Tu navegador no soporta la etiqueta <code>video</code>. Por favor actualiza tu navegador o descarga el video.
		</video>
	</div>
	
	</div>
</div>
