<div class="div-main">
	<div class="faq">
	<h2>Preguntas frecuentes</h2>

	<div class="accordion" role="list">
		<div class="accordion-item" *ngFor="let p of panels">
			<h3>
				<button
					class="accordion-button"
					[attr.aria-expanded]="p.open"
					[attr.aria-controls]="p.id + '-panel'"
					id="{{p.id}}"
					(click)="toggle(p.id)"
				>
					{{ p.title }}
				</button>
			</h3>

			<div
				class="accordion-panel"
				role="region"
				[attr.aria-labelledby]="p.id"
				id="{{p.id}}-panel"
				[hidden]="!p.open"
			>
				<p>{{ p.content }}</p>
			</div>
		</div>
	</div>
</div>
	<div class="div-video"> 
		<!-- Para que autoplay funcione en la mayoría de navegadores el video debe estar muted -->
		<video muted autoplay preload="metadata" >
			<source src="./assets/video/video-mecanic.mp4" type="video/mp4">
			<source src="./assets/video/video-mecanic.webm" type="video/webm">
			Tu navegador no soporta la etiqueta <code>video</code>. Por favor actualiza tu navegador o descarga el video.
		</video>
		<!-- Nota: reemplaza ./assets/img/video-poster.jpg por el poster real que subirás a assets/img -->
	</div>
	
</div>