
.main {
  margin-top: 3em;
  padding: 4em 0;
}

.card-item {
  row-gap: 1em;
  background-color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 2em 1.4em;
  border-radius: 6px;
  min-height: 280px;
  max-width: 320px;
  justify-content: center;   
  align-items: center;
  text-align: justify;
  transition: scale 0.6s, box-shadow 0.3s;
  cursor: pointer;
}

.card-item:hover {
  scale: 1.03;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}


.cont-main {
  padding: 2em 4em;
  gap: 12px;
  justify-content: center;
}

:host {
  display: block;
}

.faq {
  margin-left: 4em;
}


@media (max-width: 1200px) and (min-width: 601px) {
  
  .div-vid {
    display: none;
  }

  .card-item {
    max-width: 500px;
  }
  
}

@media (max-width: 600px) {
  
  .div-vid {
    display: none;
  }

  .card-item {
    min-width: 100%;
  }

  .faq {
    margin-left: 0;
    align-self: center;
  }
}

.div-vid video {
  height: 360px;
  border-radius: 6px;
}

.div-main-2 {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.change-btt {
  font-size: 18px;
  transition: scale 0.4s, color 0.4s;
  cursor: pointer;
  color: rgb(56, 56, 56);
}

.change-btt:hover {
  scale: 1.2;
  color: black;
}