
<div class="page">
    <div class="content" *ngIf="product as prod; else notFound">
        
        <div class="product-image" aria-label="Imagen del producto">
            <img [src]="prod.imagen" [alt]="prod.description">
        </div>

        <div class="product-details">
            <div class="div-1">
                <div class="detail-title">{{ prod.description }}</div>
                <div class="detail-price">{{ prod.precio | currency:'USD' }}</div>
                <div class="detail-availability">En stock: Disponible</div>
                <div class="detail-desc">Debido a la gran demanda de este producto, el envío se puede retrasar</div>
            </div>
            <div class="div-2">
                <div class="detail-actions" style="width: 100%;">
                    <button class="btn-add-detail-2" (click)="openWhatsApp()">Ir al WhatsApp</button>
                    <button class="btn-add-detail" (click)="addToCart(product)">Agregar al Carrito</button>
                </div>
            </div>
            
            <div class="detail-features" aria-label="Características" *ngIf="prod.especificaciones">
                <div class="feature-item">{{ prod.especificaciones }}</div>
            </div>
            
        </div>
    </div>

    <ng-template #notFound>
        <div style="padding:24px;">Producto no encontrado.</div>
    </ng-template>

    <div style="height: 6px; width: auto;"></div>        
    <p ft-18-500>Productos Relacionados</p>

    <div flex class="related" aria-label="Productos similares">
        <div flex-col class="card" *ngFor="let p of products | slice:0:6" (click)="openItem(p); $event.stopPropagation()" style="cursor: pointer;">
            <img [src]="p.imagen" [alt]="p.description" >
            <div style="height: 2px; width: auto;"></div>
            <p ft-12-400>{{ p.description }}</p>
            <div style="height: 4px; width: auto;"></div>
            <p ft-18-600>${{ p.precio }}</p>            
        </div>
    </div>
</div>