
<div class="main-cont">

    <div flex class="sub-top">
        <p ft-14-400 >Atencion al Cliente</p>
        <p ft-14-400 >Ingresar</p>
    </div>

    <div flex class="sub-mid">
        <p ft-36-400 >LuciShop</p>

        <div style="width: 600px; height: 40px; background-color: black; border-radius: 24px;"></div>

        <p icon style="font-size: 28px;">favorite</p>
        <p icon style="font-size: 28px;">shopping_cart</p>

    </div>

    <div flex class="sub-bot">
        <p ft-18-500 >Todo</p>
        <p ft-18-500 >Motor</p>
        <p ft-18-500 >Eléctricos</p>
        <p ft-18-500 >Refrigeración</p>
        <p ft-18-500 >Interior</p>
        <p ft-18-500 >Mantenimiento</p>
    </div>

</div>