
<div class="main-cont">

    <div flex class="sub-top">
        <p ft-14-400 >Con la compra mayor de 25$ tienes <strong style="font-size: 14px;">envio gratis!</strong> </p>
        <p ft-14-400 >Atencion al Cliente</p>
        <p ft-14-400 >Ingresar</p>
    </div>

    <div flex  class="sub-bot">
        <section class="nav-links" role="navigation" aria-label="Categorías">
            <p ft-14-500 >Todo</p>
            <p ft-14-500 >Motor</p>
            <p ft-14-500 >Eléctricos</p>
            <p ft-14-500 >Refrigeración</p>
            <p ft-14-500 >Interior</p>
            <p ft-14-500 >Mantenimiento</p>
        </section>

        <div flex-col bg-se class="sub-sub">
            <p ft-14-400> Llámanos: </p>
            <p ft-16-600> 0414-0530043 </p>
        </div>
    </div>

</div>