
.main-cont {
    width: 100%;
}

.sub-top {
    padding: 0.6em 1.4em;
    gap: 2em;
    justify-content: end;
}

.sub-mid {
    gap: 4em;
    justify-content: center;
    align-items: center;
    padding: 1.6em;
    color: white;
}

.sub-bot {
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    gap: 2em;
}