<div class="main-cont">
    <div class="main-center">
        <footer class="footer-content">
            <div class="footer-col footer-products">
                <h4>Productos</h4>
                <ul>
                    <li>Filtro de aceite</li>
                    <li>Pastillas de freno</li>
                    <li>Amortiguadores</li>
                    <li>Bujías</li>
                </ul>
            </div>

            <div class="footer-col footer-categories">
                <h4>Categorías</h4>
                <ul>
                    <li>Motor</li>
                    <li>Suspensión</li>
                    <li>Frenos</li>
                    <li>Iluminación</li>
                </ul>
            </div>

            <div class="footer-col footer-social">
                <h4>Redes</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>WhatsApp</li>
                    <li>YouTube</li>
                </ul>
            </div>

            <div class="footer-col footer-contact">
                <h4>Contacto</h4>
                <ul>
                    <li>Tel: +58 414 053 0043</li>
                        <li>Email: ventas&#64;luci.shop</li>
                    <li>Horario: Lun-Vie 9:00-18:00</li>
                </ul>
            </div>
        </footer>
    </div>
</div>