<div class="main-cont">
    <div class="main-center">
        <footer class="footer-content">
            <div class="footer-col footer-products">
                <h4>Productos</h4>
                <ul>
                    <li><button ft-14-400 type="button" (click)="goWhere('/products/filtro-de-aceite')">Filtro de aceite</button></li>
                    <li><button ft-14-400 type="button" (click)="goWhere('/products/pastillas-de-freno')">Pastillas de freno</button></li>
                    <li><button ft-14-400 type="button" (click)="goWhere('/products/amortiguadores')">Amortiguadores</button></li>
                    <li><button ft-14-400 type="button" (click)="goWhere('/products/bujias')">Bujías</button></li>
                </ul>
            </div>

            <div class="footer-col footer-categories">
                <h4>Categorías</h4>
                <ul>
                    <li><button ft-14-400 type="button" (click)="goWhere('/products/motor')">Motor</button></li>
                    <li><button ft-14-400 type="button" (click)="goWhere('/products/suspension')">Suspensión</button></li>
                    <li><button ft-14-400 type="button" (click)="goWhere('/products/frenos')">Frenos</button></li>
                    <li><button ft-14-400 type="button" (click)="goWhere('/products/iluminacion')">Iluminación</button></li>
                </ul>
            </div>

            <div class="footer-col footer-social">
                <h4>Redes</h4>
                <ul>
                    <li><button ft-14-400 type="button" (click)="goWhere('/redes/facebook')">Facebook</button></li>
                    <li><button ft-14-400 type="button" (click)="goWhere('https://www.instagram.com/altoproyect/')">Instagram</button></li>
                    <li><button ft-14-400 type="button" (click)="goWhere('https://wa.me/584140530043')">WhatsApp</button></li>
                </ul>
            </div>

            <div class="footer-col footer-contact">
                <h4>Contacto</h4>
                <ul>
                    <li>Tel: +58 414 053 0043</li>
                    <li ft-14-400 >Email: <a href="mailto:Altoproyect&#64;gmail.com">Altoproyect&#64;gmail.com</a></li>
                    <li ft-14-400 >Horario: Lun-Vie 9:00-18:00</li>
                    <li ft-14-400 >Dirección: <strong> Puerto la cruz, Anzoátegui</strong> </li>
                </ul>
            </div>
        </footer>
    </div>
</div>