<div class="cont-center-dama">
    <div class="center-dama">
        <div class="cont-center">
            <div class="cont-img"> 
                <img src="assets/img/pexels.webp" alt="Dama" 
                loading="lazy" 
                width="400"
                height="600" 
                sizes="(max-width: 600px) 480px, 800px">
            </div>
            <div class="cont-img"> 
                <img src="assets/img/pexels2.webp" alt="Dama" loading="lazy" width="400" height="600">
            </div>
             
        </div>
        <div class="cont-low">
            <h3>MODA FEMENINA</h3>
    </div>
</div>