@import 'material-icons/iconfont/material-icons.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin font-create($size, $lineH, $weight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineH;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

[ft-16-400] { @include font-create(16px, 14px, 400) }
[ft-16-500] { @include font-create(16px, 14px, 500) }
[ft-16-600] { @include font-create(16px, 14px, 600) }
[ft-16-700] { @include font-create(16px, 14px, 700) }

[ft-12-400] { @include font-create(12px, 16px, 400) }
[ft-12-500] { @include font-create(12px, 16px, 500) }
[ft-12-600] { @include font-create(12px, 16px, 600) }
[ft-12-700] { @include font-create(12px, 16px, 700) }

[ft-14-400] { @include font-create(14px, 18px, 400) }
[ft-14-500] { @include font-create(14px, 18px, 500) }
[ft-14-600] { @include font-create(14px, 18px, 600) }
[ft-14-700] { @include font-create(14px, 18px, 700) }

[ft-18-400] { @include font-create(18px, 18px, 400) }
[ft-18-500] { @include font-create(18px, 18px, 500) }
[ft-18-600] { @include font-create(18px, 18px, 600) }
[ft-18-700] { @include font-create(18px, 18px, 700) }

[ft-24-400] { @include font-create(24px, 30px, 400) }
[ft-24-500] { @include font-create(24px, 30px, 500) }

[ft-28-400] { @include font-create(28px, 32px, 400) }

[ft-36-400] { @include font-create(36px, 44px, 400) }
[ft-36-700] { @include font-create(36px, 44px, 700) }

[cp] {
    cursor: pointer;
}

[bg-pr] {
    background-color: #0A0A0A;
}

[bg-se] {
    background-color:rgb(255, 255, 120);
    
}

[icon] {
    font-family: 'Material Icons';
    font-weight: bold;
    font-display: swap;
}

[flex] {
    display: flex;
}

[flex-col] {
    display: flex;
    flex-direction: column;
}

[flex-wrap] {
    display: flex;
    flex-wrap: wrap;
}

.inp-no-arrow::-webkit-inner-spin-button,
.inp-no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

