<div class="cont-filter">
<div class="filter-container-vertical">
  <input
    type="text"
    placeholder="Título..."
    [(ngModel)]="tituloFiltro"
    class="filter-input"
  />

  <input
    type="number"
    placeholder="Mín. $"
    [(ngModel)]="precioMin"
    class="filter-input"
    min="0"
  />

  <input
    type="number"
    placeholder="Máx. $"
    [(ngModel)]="precioMax"
    class="filter-input"
    min="0"
  />

  <button class="filter-btn" (click)="emitirFiltro()">Aplicar</button>
  <button class="filter-btn" (click)="limpiarFiltros()">Limpiar</button>
</div>  
</div>