
<div flex-col class="main-cont">
    
    <div style="height: 24px; width: auto;"></div>

    <div flex class="sub-top">
        <input 
            class="sub-top-inp inp-a" [formControl]="inpSearch" placeholder="Buscar Producto" type="text" >
    </div>

    <div style="height: 2em; width: auto;"></div>

    <div flex class="cont-list">
        <div flex-col class="side-bar">

            <input 
                class="sub-top-inp inp-b inp-no-arrow" [formControl]="inpMin" placeholder="Precio Minimo" type="number" min="0" >
            <input
                class="sub-top-inp inp-b inp-no-arrow" [formControl]="inpMax" placeholder="Precio Maximo" type="number" min="0" > 

            <div style="width: auto; height: 0.5em;"></div>

            <div flex-col class="side-bar-categos">
                <p ft-16-500>Categorías</p>
                <div style="width: auto; height: 0.3em;"></div>
                <p cp ft-14-400>Blusas</p>
                <p cp ft-14-400>Vestidos</p>
                <p cp ft-14-400>Ropa Interior para Dama</p>
            </div>

            <div flex-col class="side-bar-categos">
                <p ft-16-500>Modelo de Auto</p>
                <div style="width: auto; height: 0.3em;"></div>
                <p cp ft-14-400>Hilux</p>
                <p cp ft-14-400>Autana</p>
            </div>

        </div>

        <div class="side-items">
            @for( i of products; track $index ) {
                <card-item [inputData]=i></card-item>
            }
        </div>

    </div>


</div>