
.main-cont {
    width: 100%;
    height: 100%;
    padding: 1.2em 2em;
    background-color: rgb(221, 221, 221);
    min-height: 100vh;
}

.sub-top-inp {
    height: 3em;
    padding: 1em;
    border: 0;
    //width: 40%;
}

.sub-top-inp:focus {
    outline-width: 0;
}

.inp-a {
    width: 40%;
}

.inp-b {
    width: auto;
}

.sub-top {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    justify-content: start;
    background-color: rgb(108, 108, 108);

    gap: 0.6em;

}

.sub-top-btt {
    padding: 0 1em;
    border: 0;
}

.cont-list {
    width: 100%;
    gap: 12px;
}

.side-bar {
    flex: 0.4;
    padding: 1.5em;
    row-gap: 2em;
}

.side-items {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1.2rem;
}

.side-bar-categos {
    row-gap: 8px;
}