
.main-cont {
    width: 100%;
    height: 100%;
    padding: 1.2em 2em;
    background-color: rgb(221, 221, 221);
}

.sub-top-inp {
    height: 3em;
    padding: 1em;
    width: 40%;
    border: 0;
}

.sub-top {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    justify-content: center;
    background-color: rgb(108, 108, 108);
}

.sub-top-btt {
    padding: 0 1em;
    border: 0;
}

.cont-list {
    width: 100%;
    gap: 12px;
}

.side-bar {
    flex: 0.4;
    padding: 1.5em;
    row-gap: 2em;
}

.side-items {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1.2rem;
}

.side-bar-categos {
    row-gap: 8px;
}