<div class="container-main">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content"> 
        <div class="cont-filter">
            <app-filter (filtroCambiado)="aplicarFiltro($event)"></app-filter>
        </div>

        <div class="cont-products">
            @for (i of listaR; track $index) {
            <app-card-products
            [img]="i.img"
            [titulo]="i.titulo"
            [precio]="i.precio"
            [preciodecimal]="i.preciodecimal"
            [envio]="i.envio"
            ></app-card-products>
        }
        </div>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>

</div>